<nav class="side_menu">
        {% if page.category == "stitches" %}
            <section id="stitches" class="taxonomy__section open">
        {% else %}
            <section id="stitches" class="taxonomy__section">
        {% endif %}
          <h3>stitches</h3>
          <div>
            {% for post in site.categories.stitches reversed %}
                {% if page.url == post.url %}
                  <h4><a href="{{site.baseurl}}{{post.url}}" class="active">{{post.title}}</a></h4>
              {% else %}
                <h4><a href="{{site.baseurl}}{{post.url}}">{{post.title}}</a></h4>
              {% endif %}
            {% endfor %}
          </div>
        </section>


        {% if page.category == "shaping" %}
            <section id="shaping" class="taxonomy__section open">
        {% else %}
            <section id="shaping" class="taxonomy__section">
        {% endif %}
          <h3>shaping</h3>
          <div>
            {% for post in site.categories.shaping reversed %}
                {% if page.url == post.url %}
                  <h4><a href="{{site.baseurl}}{{post.url}}" class="active">{{post.title}}</a></h4>
              {% else %}
                <h4><a href="{{site.baseurl}}{{post.url}}">{{post.title}}</a></h4>
              {% endif %}
            {% endfor %}
          </div>
      </section>

      {% if page.category == "3D" %}
          <section id="3D" class="taxonomy__section open">
      {% else %}
          <section id="3D" class="taxonomy__section">
      {% endif %}
          <h3>3D</h3>
          <div>
            {% for post in site.categories.3D reversed %}
                {% if page.url == post.url %}
                  <h4><a href="{{site.baseurl}}{{post.url}}" class="active">{{post.title}}</a></h4>
              {% else %}
                <h4><a href="{{site.baseurl}}{{post.url}}">{{post.title}}</a></h4>
              {% endif %}
            {% endfor %}
          </div>
      </section>

      {% if page.category == "computer-generated design" %}
          <section id="computer-generated design" class="taxonomy__section open">
      {% else %}
          <section id="computer-generated design" class="taxonomy__section">
      {% endif %}
          <h3>computer-generated design</h3>
          <div>
            {% for post in site.categories["computer-generated design"] reversed %}
                {% if page.url == post.url %}
                  <h4><a href="{{site.baseurl}}{{post.url}}" class="active">{{post.title}}</a></h4>
              {% else %}
                <h4><a href="{{site.baseurl}}{{post.url}}">{{post.title}}</a></h4>
              {% endif %}
            {% endfor %}
          </div>
      </section>
</nav>